html{
  font-size: 16px;
  max-width: 1280px;   
  }
.container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  background-color: #ffd398;
}
/*section deals with header styling*/
.title {
  grid-area: 1/1/2/13;
  display: flex;
  flex-direction: column;
  gap: 5%;
  color: darkred;
  text-align: center; 
 }
 .header-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  gap:5%;
  padding: 5vh;
}
h1{
  font-size: 5rem;
  margin:1px;
  align-self: center;
}
#logo{ 
  max-width: 10rem;
  position: absolute; left: 5vw; top: 10vh;
}
 .navigation-menu {
  display: flex;
  flex-direction: row;
  height: auto;
  list-style-type: none;
  gap: 5%;
  font-size: 1rem;
  justify-content: right;
}
.navigation-menu_item {
height:5vh; width: auto; border-radius: 15px;
}
.navigation-menu__link{
  text-decoration: none;
  color: darkred;
  padding: 1rem 1.5rem;
}
.navigation-menu__link:hover{/*changes link color styling based on user mouse*/
  background-color: bisque;
}
/*section deals with main body*/
main {
  grid-area: 3/1/14/13;
    background-color: darkred;
    padding-top: 10vh;
}
.picture_frame {
  border: 5px solid bisque;
  width: 960px;
  height: 540px;
  margin-left:auto;
  margin-right:auto;
}
.wrapper {
  display: flex;
} /*allows image to resize to fit viewport*/
#sunrise_row {
  height: 100%;  /*image to fill container*/
  width: 100%;
  object-fit: cover;
}
.small_header {
  color:bisque;
  font-weight: bold;
  text-align: center;
  padding:5vh;
  font-size: 2rem;
}
#line1{
  color: bisque;
}
#poem, #cite {
  color: bisque;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
#about {
  text-align: center;
  padding: 5vh;
  background-color: #ffd398;
  color: #551a25;
}
#races{
  background-color: #551a25;
  padding: 5vh;
  height: auto;
  color: #ffd398;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #ffd398;
  color: darkred;
  padding: 3vh;
  padding-bottom: 4vh;
  margin-bottom: 5vh;
}
.article-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.article-logo {
  max-width: 10rem;
  mix-blend-mode: multiply;
}
#races h3 {
  grid-area: 1/2/2/4;
  font-size: larger;
}

.article-links {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.article-links__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkred;
  border-radius: 15px;
  height: 4rem;
  width: 10vw;
  color: bisque;
  padding: 1rem;
}
.xButton{
  position: fixed;
  top: 3px; right:20px;
  padding:5px;
  background-color: bisque;
  border:none;
}
.link {
  text-decoration: none;
  color:bisque;
}

.link:hover {
  background-color: #7f2929;
}
.gallery_photo{
  max-width: 25rem;
  margin: 1rem;
}
.results_photo{
  max-width: 30rem;
  mix-blend-mode: multiply;
}
.gallery_column{
  display: flex; flex-direction: column;
}
.figure{
  display: inline-flex;
  flex-direction: column;
}
.modal_photo{
  max-width: 18rem;
  margin:1rem;
  border: 6px solid;
  border-color: darkred;
}
.gallery_modal{
  display:none; position: fixed; inset:0px; background-color: bisque; border-radius:20px;
}
.results_modal{
  display:none; position:fixed; inset:0px; background-color: darkred; border-radius:20px; padding:5vh;
}
.results{
  background-color: darkred; color: bisque; border:none; font-size: 1rem;
}
.open{
  font-family: cursive; 
  background-color: darkred; color:bisque; border-color:bisque; border-radius: 10px; padding: 10px;box-shadow: 4px 4px #551a25;
}
footer {
  grid-area: 21/1/22/13;
  height: 15vh;
  background-color: darkred;
  text-align: center;
  color: bisque;
  padding:5vh;
}
@media screen and (max-width: 350px){
  .container{
    font-size: 12px;
    justify-content: center;
  }
 h1{
  font-size: 0.75rem;
 }
 .navigation-menu_item{
  font-size: 0.5rem;
 }
  .navigation-menu {
    font-size: 0.75rem;
    white-space: collapse;
    justify-content: space-between;
    flex-direction: column;
  } 

  .article-links {
    flex-direction: column;
  }
  .article-links__item {
    width: 10rem;
  }
  .results_photo{
    max-width: 15rem;
  }
  .open{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .container{
    font-size: 14px;
  }
  h1{
    font-size: 3rem;
    padding-left:2%;
  }
  .navigation-menu {
    font-size: 1rem;
    justify-content: center;
  }
  #logo{
    height:10%;
    width: auto;
    top: 3.5%;
    left: 3.5%;
  }
  .results_photo{
  max-width:15rem }
  .article-content {
    flex-direction: column;
  }
 .open{
  display: none;
 }
}

