html{
  font-size: 16px;   
  }
.container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  background-color: #ffd398;
}
/*section deals with header styling*/
.title {
  grid-area: 1/1/2/13;
    height: 20vh;
  padding:5vh;
  color: darkred;
  text-align: center; 
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0vh;
 }
#logo{ 
  height: 25vh;
  width: auto;
  position: absolute; left: 5vw; top: 10vh;
}
 .navigation-menu {
  display: flex;
  height: 25vh;
  list-style-type: none;
  gap: 5%;
  font-size: 1rem;
  justify-content: right;
  position: sticky;/*I seem to have trouble making the nav bar stick to the top of viewport when scrolling past*/
  right: 5vw; top: 10vh;
  overflow-y:auto;
}
.navigation-menu__link{
  text-decoration: none;
  color: darkred;
  padding: 1rem 1.5rem;
}
.navigation-menu__link:hover{/*changes link color styling based on user mouse*/
  background-color: bisque;
}
/*section deals with main body*/
body main {
  grid-area: 3/1/14/13;
    background-color: darkred;
    padding-top: 10vh;
      .picture_frame {
        border: 5px solid bisque;
        width: 960px;
        height: 540px;
        margin-left:auto;
        margin-right:auto;
         }
      .wrapper
      {display: flex;} /*allows image to resize to fit viewport*/
      .cover {
        height: 100%;  /*image to fill container*/
        width: 100%;
        object-fit: cover;}
    .small_header {color:bisque;
        font-weight: bold;
        text-align: center;
        padding:5vh;
        font-size: 2rem;
        }
    #line1{
      color: bisque;
    }
    #poem, #cite {
      color: bisque;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
    }
    #about {
      text-align: center;
      padding: 5vh;
      background-color: #ffd398;
      color: #551a25;
    }
    #races{
      background-color: #551a25;
      padding: 5vh;
      height: auto;
      color: #ffd398;
    }
    #dadvail, #knecht, #marc{
      height: auto;
      border-radius: 20px;
      background-color: #ffd398;
      color: darkred;
      padding: 3vh;
      padding-bottom: 4vh;
      margin-bottom: 5vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 5%;
      justify-content: space-between;
    }
    #dad_vail_logo, #knecht_logo {
      height:25vh;
      width: auto;
      grid-area: 1/1/3/2;
      mix-blend-mode: multiply;
      position:relative; left: 5vw;
    }
    #marc_logo{
      height:10vh;
      width: auto;
      grid-area: 1/1/3/2;
      mix-blend-mode: multiply;
      position: relative; left: 5vw;
    }
    #races h3 {
      grid-area: 1/2/2/4;
      font-size: larger;
    }
    .schedule {
      display: flex; align-items: center; justify-content: center; 
      grid-area: 2/2/3/2;
      background-color: darkred;
      border-radius: 15px; 
      height: 12vh;
      width: auto;
      padding: 5%;
      color: bisque;
      margin-left: 8vw;
      margin-right: 5vw;
    }
    .lineups {
      grid-area: 2/3/3/4;
      display: flex; align-items: center; justify-content: center; 
      background-color: darkred;
      color: bisque;
      border-radius: 15px;
      height: 12vh;
      width: auto;
      margin-left: 5vw; margin-right: 5vw;
    }
    .livestream {
      grid-area: 2/4/3/5;
      display: flex; align-items: center; justify-content: center;
      background-color: darkred;
      color: bisque;
      border-radius: 15px;
      height: 12vh;
      width: auto;
      margin-right: 8vw;
      margin-left: 5vw;
    }
    .schedule_link,.lineup_link,.livestream_link{
      text-decoration: none;
      color:bisque;
    }
    .schedule_link:hover, .lineup_link:hover, .livestream_link:hover{
      background-color: #7f2929;
    }
}

footer {
  grid-area: 21/1/22/13;
  height: 15vh;
  background-color: darkred;
  text-align: center;
  color: bisque;
  padding:5vh;
}


@media screen and (max-width: 730px){
  .container{
    font-size: 14px;
  }
  .title {
    font-size: 3rem;
    white-space: nowrap;
  }
  #battle h3 {
    font-size: 1rem;
  }
  .navigation-menu {
    font-size: 1rem;
    white-space: nowrap;
  }
  #logo{
    height:10%;
    width: auto;
    top: 2.5%;
    left: 2.5%;
  }
}

@media screen and (max-width: 350px){
  .container{
    font-size: 10px;
  }
  .title {
    font-size: 2rem;
    white-space: nowrap;
  }
  .navigation-menu {
    font-size: 0.75rem;
    white-space: collapse;
    justify-content: center;
    gap: 1%;
    text-wrap: none;
  }
}
